.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 10px rgb(146, 245, 48);
    float: none;
    background-color:rgb(119, 189, 54);
    padding: 30px;
    border-radius:25px;
    color:rgb(10, 97, 7);
    box-shadow: 5px 5px 10px rgb(3, 255, 242);
